@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


body{
    background: #172041;
    user-select: none;
}
body::-webkit-scrollbar{
    display: none;
}
.scorefont{
    font-family: 'Share Tech Mono', monospace;
}